YII_ENV=dev
YII_DEBUG=true
COOKIE_VALIDATION_KEY=jmAo8v5Vlk0qtzbpwv1J_d2vkvUxJ4LS

DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_atlas_school
DB_USERNAME=postgres
DB_PASSWORD=postgres

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=

TELEGRAM_LOGGER_BOT_TOKEN=
TELEGRAM_LOGGER_CHAT_ID=
